mixin header
	header.header
		.header_in.section_in 
			a(href='#').header_logo
				img(src="images/header_logo.png", alt="" class='cover_img')
			.header_menu.header_menu--hide.headerMenu 
				nav.header_nav 
					+menu({
						gl_class: 'header_nav',
						items: [
							{title: 'О нас', url: '#', active: false},
							{title: 'Решения', url: '#', active: false},
							{title: 'Аналитика', url: '#', active: false},
							{title: 'Партнеры', url: '#', active: false},
							{title: 'Контакты', url: '#', active: false},
							{title: 'Подписка', url: '#', active: false}
						]
					})
				+social({
					mod_block: 'header_social main_social',
					items: [
						{name_icon: 'facebook', mod_link: 'social_link--size_1_mod', mod_icon:'icon--size_mod'},
						{name_icon: 'twitter', mod_link: 'social_link--size_2_mod', mod_icon:'icon--size_mod'},
						{name_icon: 'rss', mod_link: 'social_link--size_3_mod', mod_icon:'icon--size_mod'},
						{name_icon: 'youtube', mod_link: 'social_link--size_4_mod', mod_icon:'icon--size_mod'}
					]
				})
				a(href='#').header_search 
					+icon('search', 'icon--size_mod')

				+lang({
					items:[
						{name: 'Ua'},
						{name: 'Ru'}
					]
				})
			.burger 
				span.burger_decor
		