.grid_wrapper {
	display: grid;
	grid-template-columns: repeat(5,21.6rem);
	grid-auto-flow: dense;
	gap: 2rem;
	margin: 0 auto;
	max-width: 116rem;

	@include bp($point_1, $point_4) {
		grid-template-columns: repeat(3,1fr);
	}

	@include bp($point_4, $point_5) {
		grid-template-columns: repeat(2,1fr);
	}

	@include bp($point_5) {
		grid-template-columns: 1fr;
	}
}
